<html>
<head>
     
    <title>Django</title>
</head>
<body>
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
     
    <form action="" method="post">
        <label>Имя</label> 
        <input name="name" type="text" value="{{ form.name }}">
 
        <label>Е-mail</label> 
        <input name="email" type="text" value="{{ form.email }}">
         
        <label>Сообщение</label>
        <textarea name="message">{{ form.message }}</textarea>
         
        <input type="submit" value="Отправить">
        {% csrf_token %}
    </form>
</body>
</html>
